$font-stack:  Avenir, sans-serif;
$primary-text-color: #555;
$primary-color: #C99D66;



@media only screen and (min-width:992px){
	.product-card{
		width: 30%;
		padding: 16px 16px; 
	}

}

@media only screen  and (max-width:991px) and (min-width: 500px){
	.product-card{
		width: 46%;
		padding: 8px 8px;
	}
}

@media only screen  and (max-width:499px) and (min-width: 300px){
	.product-card{
		width: 100%;
		padding: 8px 8px;
	}
}


body {
  font: 100% $font-stack;
  color: $primary-text-color;
}

.wien-nav{
    font-size: 13px;
    font-weight: 500;
	padding: 24px 64px;
}

.wien-logo{
	display: block;
	margin: 0 auto;
	width: 96px;
	padding-bottom: 24px;
}

.nav-description{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;

  ul{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
  	justify-content: space-between;
  	padding: 0px;
  	list-style-type: none;

  	li{
  		padding-right: 30px;
  	}
  }
}

.filter{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  list-style: none;
  overflow: hidden;

  button{
  	color: $primary-color;
  	font-size: 13px;
  	background-color: transparent;
  	border: none;
  	text-transform: uppercase;
  	letter-spacing: 1px;
  	padding: 16px 24px;
  	cursor: pointer;
  }

  button:focus{
  	outline: 0;
  	font-weight: 700;
  	font-size: 14px;
  }
}

.page-container{
	display: flex;
	max-width: 1100px;
	padding-top: 32px;
	padding-left: 16px;
	padding-right: 16px;
	display: block;
	margin: 0 auto;

}

.card-description{

  padding-bottom: 8px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
}

.product-card{
	
	display: inline-block;
	font-size: 16px;
}

a{
	color: #555;
}

.card-img{
	width: 100%;
}

