ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

button{
	border: none;
}

button:focus{
	outline: 0;
}

.carousel-container{
	overflow:hidden;
	position: relative;
	width: 96%;
	margin: 0 auto;
}

.carousel{	 
  white-space:nowrap;
  transition: transform 0.8s;
}

.carousel-next{
	-webkit-transform: translateX(- 1000px); /* Safari */
  transform: translateX(- 1000px);
}



.carousel-slide{
	width: 100%;
	display:inline-block;

img{
	width:100%;
	}
}


.carousel-slide-active{
	
}


.carousel_arrow{
	position: absolute;
	width:25px;
	height:50px;
  top: 50%;
  display: block;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  background-color:rgba(0,0,0,0.2) ;
  transform: translateY(-50%);
  
}

.carousel_arrow-left{
	left:0;
	z-index:5;
}

.carousel_arrow-right{
	right:0;
	z-index: 5;
}
