$font-stack:  Avenir, sans-serif;
$primary-text-color: #555;
$primary-color: #C99D66;
$menu-width: 200px;



@media only screen and (min-width:992px){
	.product-card{
		width: 29%;
		padding-left: 2%; 
		padding-right: 2%;
	}

	.nav-description{
	  display: -webkit-box;
	  display: -moz-box;
	  display: -ms-flexbox;
	  display: -webkit-flex;
	  display: flex;
	  justify-content: space-between;
	}

	.menu-icon{
	  display: none !important;

	}
	.filter{
		justify-content: center;
	}

	.font-icon{
		margin-right: -30px;
	}

}

@media only screen  and (max-width:991px) and (min-width: 500px){
	.product-card{
		width: 46%;
		padding-left: 2%;
		padding-right: 2%;
	}
	.menu-desktop{
		display: none;
	}
	.nav-description{
		display: -webkit-box;
	    display: -moz-box;
	    display: -ms-flexbox;
	    display: -webkit-flex;
	    display: flex;
		justify-content: center;
		text-align: center;

	}

	.filter{
		justify-content: center;
	}

	.font-icon{
		padding-right: 8px;
		color:rgba(0,0,0,0.3);
	}

}

@media only screen  and (max-width:499px) {
	.product-card{
		width: 96%;
		padding-left: 2% ;
		padding-right: 2%;
	}
	.menu-desktop{
		display: none;

	}
	.nav-description{
		text-align: center;
		font-size: 12px;
	}

	.filter{
		justify-content: flex-start;

		button{
			padding-top: 0px !important;
			padding-bottom: 0px !important;
		}
	}

	.wien-logo{
		width: 72px !important;
	}

	.font-icon{
		padding-right: 8px;
		color:rgba(0,0,0,0.3);
	}

	
}


body {
  
  color: $primary-text-color;
}



.menu-icon{
	position: absolute;
	color: $primary-text-color;
	font-size: 18px;
	top: 24px;
	left: 24px;
	z-index: 10;
}


.wien-nav{
    font-size: 13px;
    font-weight: 500;
	padding: 24px 64px;
}

.wien-logo{
	display: block;
	margin: 0 auto;
	width: 80px;
	padding-bottom: 24px;
}

.nav-description{
  

  ul{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
  	justify-content: space-between;
  	padding: 0px;
  	list-style-type: none;


  	li{
  		padding-right: 30px;
  	}
  }
}


.menu-mobile{
	margin: 0;
	padding-top: 54px;
	padding-left:24px;
	width: $menu-width;
	height: 100%;
	position: absolute;
	top: 0px;
	left: -$menu-width;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	z-index: 6;
	visibility: hidden;
	background-color: #fff;
	list-style-type: none;

	li{
		padding-top: 32px;
	}

}

.menu-hide{
	visibility: hidden;
	transform: translateX(-$menu-width);
	transition: all 1s ease;
	-webkit-transition: all 0.6s ease;
}
.menu-display{
	visibility: visible;
	transform: translateX($menu-width);
	transition: all 1s ease;
	-webkit-transition: all 0.6s ease;

}


.filter{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  list-style: none;
  overflow: scroll;



  button{
  	color: $primary-color;
  	font-size: 13px;
  	background-color: transparent;
  	border: none;
  	text-transform: uppercase;
  	letter-spacing: 1.5px;
  	padding: 16px 24px;
  	cursor: pointer;
  }

  button:focus{
  	outline: 0;
  	font-weight: 700;
  	font-size: 14px;
  }
}


::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.page-container{
	display: flex;
	max-width: 1100px;
	padding-top: 8px;
	padding-left: 16px;
	padding-right: 16px;
	display: block;
	margin: 0 auto;

}

.card-description{

  padding-top: 8px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
}

.price{
	font-weight: 600;
	font-size: 16px;
	font-family: 'Cormorant Garamond', serif;
}

.product-card{
	padding-top: 8px;
	padding-bottom: 48px;
	font-size: 11px;
	color: rgba(0,0,0,0.7);
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	display: inline-block;
}

a{
	color: #555;
}

.card-img{
	width: 100%;
}


.overlay{
	position: absolute; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
}

.font-icon{
	font-size: 16px;

	
}
