$font-stack:  Avenir, sans-serif;
$primary-text-color: rgba(0,0,0, 0.7);
$secondary-text-color: rgba(0,0,0, 0.5);
$primary-color: #C99D66;
$divider-light: rgba(181,191,199,0.3);
$font-title: Playfair Display,  sans-serif;

body{
	padding:0px;
	margin:0px;
	font-family:$font-stack;
}

a{
	color:inherit; 
}

h1{
	font-family: $font-title;
	font-size: 28px;
    color: $primary-text-color;
    font-weight: 700;

}


.flex-container{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

.admin-nav{
	background-color: #FAFAFA;
	height: 100vh;
	width: 240px;
	position:fixed;

	ul{
		padding-top: 24px;
		li{
				padding: 16px 32px;
				margin: 8px 4px;
				a{
					text-decoration: none;
				}
		}
	}
}

.nav-header{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	margin: 0px 16px;
	padding: 24px 0px;
	padding-left: 16px;
	border-bottom: 1px solid $divider-light ;
}

.admin-logo{
	width:40px;
	height:40px;
}

.nav-header-text{
	color: $primary-color !important;
	padding-left: 8px;

}

.nav-link{
	font-family: $font-stack;
	color:$primary-text-color;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	font-weight: 300;
	border-left: solid 4px transparent;
}

.nav-link.-active{
	color:$primary-color;
	font-weight: 600;
	border-left: solid 4px $primary-color;
} 


.form-container{
	padding: 36px 0px;
	margin-left:300px;
}

.form-content-half{
	width:50%;
	padding-right:72px;
	padding-top:24px;
}


input{
	border: solid 1px $divider-light;
	display:block;
	height:36px;
	width: 350px;
	border-radius: 4px;
	margin-top:4px;
	margin-bottom:20px;
	font-family: $font-stack;
	font-size:14px;
	padding-left:8px;
	color: $secondary-text-color;
}
input:focus{
	border-color: $primary-color;
	outline: none;
}

select{
	box-sizing: content-box;
	background-color: #fff;
	display:block;
	height:36px;
	width: 358px;
	border: solid 1px $divider-light;
	border-radius: 4px;
	margin-top:4px;
	margin-bottom:20px;
	font-family: $font-stack;
	font-size:14px;
	color: $secondary-text-color;
}
select:focus{
	border-color: $primary-color;
	outline: none;
}
textarea{
	background-color: #fff;
	display:block;
	height:80px;
	width: 350px;
	border: solid 1px $divider-light;
	border-radius: 4px;
	margin-top:4px;
	margin-bottom:20px;
	font-family: $font-stack;
	font-size:14px;
	color: $secondary-text-color;
}
textarea:focus{
	border-color: $primary-color;
	outline: none;
}
.input-label{
	font-family: $font-stack;
	font-size:14px;
	color: $primary-text-color;

}

.fileinput-label{
	font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}

.fileinput{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.form-block{
	background-color: #F7F7F7;
	padding: 16px;
	margin-bottom:16px;
}
.input-small{
	width:170px;
	margin-bottom:0px;
	margin-right: 24px;
}
.button-cta{
	background-color: $primary-color;
	color:#fff;
	font-family: $font-stack;
	font-size:13px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1.5px;
	padding: 16px 24px;
}

.text-link{
	color: $primary-color;
	font-size:14px;
	font-weight: 400;
	margin-bottom:24px;
	margin-top:12px;
	display:block;

}

.image-preview{
	width:100px;
	height:70px;
	margin-right:64px;
}
.image-name{
	padding-top:16px;
	width: 60%;
}
.button-delete{
	background-color:transparent;
	color: $primary-color;
	font-size: 16px;
	
}

.modal{
	position: fixed;
	display:none;
    left: 50%;
    transform: translate(-50%,-50%);
    top: 50%;
    width: 400px;
    height: 250px;
    background-color:#fff;
    padding: 32px;
    z-index: 5;
    text-align:center;
}
.overlay{
	position:fixed;
	left: 0;
	top: 0;
	background-color:rgba(0,0,0,0.7);
	display:none;
	z-index:1;
}

.icon{
	font-size:42px;
	color: $primary-color;
	margin-bottom:24px;
}

.message{
	padding-bottom:36px;
}

.nav-profile{
	border-top: 1px solid $divider-light;
	margin:40px 16px;
	margin-top: 120px;
	text-align: center;

}

.button-cta-secondary{
	background-color: transparent;
	//border: 2px solid $primary-color;
	color:$primary-color;
	font-family: $font-stack;
	font-size:13px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1.5px;
	//padding: 16px 24px;
}

.avatar{
	margin-top:24px;
	width:50px;
	height:50px;
}
.auth-section{
	padding: 64px 128px;
}

.error-msg{
	font-size:13px;
	color:  #fd5653;
}

.cover-img{
	height: 700px;
	position:absolute;
	right:5%;
}

.table-item{
	line-height:36px;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:16px;
	color:rgba(0,0,0,0.6);
	font-size:15px;
	font-weight: 300;
	width:720px;
	border-bottom: 1px solid $divider-light;
	display:flex;

}

.table-header{
	margin-top:48px;
	padding-left:16px;
	background-color: #FAFAFA;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	font-size:12px;
	font-weight:300;
	padding-top:10px;
	padding-bottom:10px;
}

.item-name{
	width:190px;
}
.item-material{
	width: 150px;
}

.item-price{
	width:80px;
}
.item-colors{
	width: 170px
}
.item-inventory{
	width:80px;
}








